# HuggingFace READ token and Read/Write token for pushing to HuggingFace Hub
# Get yours at: https://huggingface.co/settings/tokens
HF_TOKEN_Read=hf_your_read_token_here 
HF_TOKEN_Write=hf_your_write_token_here 